/* Red Line Outline Start */
/* * { */ 
  /* outline: solid 1px red; */
/* } */
/* Red Line Outline End */



@media only screen and (min-width: 768px) {
  .floating-parent{
    background-size: cover;
    min-height: 35vh;
    position: relative;
  }
  .floating-card  {
    position:absolute;
    bottom: -3rem;
    right:5rem;
    left:2rem;
    z-index: 1;
  }
}

.row-1{
  background-image: url(https://images.unsplash.com/photo-1612565775767-97a9fffef857?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1078&q=80);
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  position: relative;
}
h3 {
  font-family: 'Great Vibes', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Tangerine', cursive;
  font-size: 300%;
}


/* .card-left{ */
  /* height: 10rem; */
  /* width: 10rem; */
  /* margin: auto; */
  /* padding-top: 15%; */
  /* border-radius: 25%; */
  /* box-shadow: 0 0 1rem .5rem black; */
  /* border-style: solid; */
  /* border-width: medium; */
/* } */

.cl {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-left{
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.cr {
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-right{
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.f2{
  word-spacing:.5rem;
}

